@font-face {
    font-family: "Grafiiti";
    src: url("./font/Act_Of_Rejection.ttf");
}
@font-face{
    font-family: "Brush";
    src: url("./font/AlexBrush-Regular.ttf");
}
:root{
    --principal-color-background:#000711;
    --font-size-logo-mobile:3rem;
    --font-size-logo-tablet:4rem;
    --font-size-logo-tablet-desktop: 5rem;
    --font-family:"Grafiiti";
    --font-family-rage-quit: "Brush";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--font-family);
}
body::-webkit-scrollbar { 
    display: none;
}
/* Estilos con base en mobile */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--principal-color-background);
    width: 100%;
    height: 60px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
    overflow: visible;
}
.navbar .logo{
    background: linear-gradient(90deg, rgba(2,103,227,1) 20%, rgba(235,0,118,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    width: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    align-items: center;
    line-height: 1.2;
    z-index: 7;
}
.logo.show {
    opacity: 1;
    transform: translateY(0);
}
.navbar .help-icon{
    border: none;
    background: none;
    color: white;
    font-family: none;
    font-size: 0.7rem;
    width: auto;
    height: auto;
}
.navbar .help-icon img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
#hero{
    margin-top: 40px;
    width: 100%;
    height: calc(100vh - 20px);
    background-color: var(--principal-color-background);
    z-index: 1;
}
#hero .logo-up{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graffiti {
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 3;
}
.graffiti-1 {
    left: 5%;
    top: 5%;
    width: 120px;
    height: 120px;
    background-image: url('./Imgs/GWkmT1Fb0AARQ3A.png');
}
.graffiti-2 {
    left: 40%;
    top: 40%;
    width: 140px;
    height: 80px;
    background-image: url('./Imgs/giphy-preview.gif');
}

.graffiti-3 {
    left: 55%;
    top: 0%;
    width: 140px;
    height: 140px;
    background-image: url('./Imgs/what.gif');
}

.graffiti-4 {
    left: 15%;
    top: 50%;
    width: 50px;
    height: 70px;
    background-image: url('./Imgs/360fx360f.png');
}

.graffiti-5 {
    left: 0%;
    top: 35%;
    width: 60px;
    height: 80px;
    background-image: url('./Imgs/330x192.png');
}

.graffiti-6 {
    left: 60%;
    top: 10%;
    width: 100px;
    height: 60px;
    background-image: url('./Imgs/glowing-neon-crown-free-png.webp');
}

.graffiti-7 {
    left: 5%;
    top: 20%;
    width: 120px;
    height: 140px;
    background-image: url('./Imgs/cool.gif');
}
.graffiti-8 {
    left:60%;
    top: 30%;
    width: 130px;
    height: 140px;
    background-image: url('./Imgs/oh\ no.png');
}
.pintura{
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 2;
}
.pintura-1{
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('./Imgs/PINTURA/1.png');
}
.pintura-2{
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url('./Imgs/PINTURA/3.png');
}
.pintura-3{
    top: 80%;
    left: 40%;
    width: 180px;
    height: 110px;
    background-image: url('./Imgs/PINTURA/9.webp');
}
.pintura-4{
    top: 70%;
    left: 2%;
    width: 100px;
    height: 150px;
    background-image: url('./Imgs/PINTURA/10.png');
}
.pintura-5{
    top: 55%;
    left: 30%;
    width: 130px;
    height: 150px;
    background-image: url('./Imgs/PINTURA/11.png');
}
#hero .img-logo{
    border-radius: 150px;
    width: auto;
    height: 180px;
    margin-top: 15px;
    z-index: 4;
}
#hero .links-social{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}
#hero .links-social.show{
    opacity: 4;
    transform: translateY(0px);
}
#hero .links-social .boton-redes{
    width: auto;
    height: auto;
    background: none;
    border: none;
    border-radius: 20px;
    z-index: 5;
}
#hero .links-social .boton-redes img{
    width: 60px;
    height: auto;
    border-radius: 20px;
    z-index: 5;
}
#hero .links-social .boton-redes:hover {
    transform: scale(1.1)
}
#hero .links-social .boton-redes:nth-child(1):hover{
    box-shadow: -3px 5px 10px 0px rgba(93,106,242,1);
}

#hero .links-social .boton-redes:nth-child(2):hover{
    box-shadow: 1px 5px 10px 0px rgba(255,0,51,1);
}
#hero .links-social .boton-redes:nth-child(3):hover{
    box-shadow: 0px 5px 10px 0px rgba(216,47,181,1);
}
#hero .links-social .boton-redes:nth-child(4):hover{
    box-shadow: 1px 5px 10px 0px rgba(74,235,103,1);
}
#hero .links-social .boton-redes:nth-child(5):hover{
    box-shadow: 3px 5px 10px 0px rgba(178,16,237,1);
}
#servers-discord{
    display: none;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    background: none;
    position:absolute;
    top: 80%;
    left: 8%;
    width: auto;
    height: auto;
    z-index: 5;
}
#servers-discord li button{
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
}
 #servers-discord li button:hover {
    transform: scale(1.1)
}
#servers-discord li:first-child button:hover {
    box-shadow: 1px 1px 12px 0px rgba(1,194,201,1);
}
 #servers-discord li:last-child button:hover {
    box-shadow: 1px 1px 12px 0px rgba(255,255,255,1);
}
#servers-discord li button img{
    border-radius: 100%;
    width: 55px;
    height: 57px;
}
#servers-discord li:first-child button p{
    font-family: var(--font-family-rage-quit);
}
#servers-discord li button p{
    margin-left: 10px;
}
#servers-discord.show {
    display: flex;
}
/*Estilos mobile limite*/
@media (min-width: 450px) and (max-width: 767px) {
    #hero .img-logo{
        height: 230px;
    }
    .graffiti-1 {
        left: 10%;
        top: 5%;
        width: 150px;
        height: 150px;
    }
    .graffiti-2 {
        left: 20%;
        top: 40%;
        width: 250px;
        height: 150px;
    }
    .graffiti-3 {
        left: 65%;
        top: 3%;
        width: 140px;
        height: 140px;
    }
    .graffiti-4 {
        left: 60%;
        top: 50%;
        width: 150px;
        height: 70px;
    }
    .graffiti-5 {
        left: 10%;
        top: 45%;
        width: 60px;
        height: 80px;
    }
    .graffiti-6 {
        left: 60%;
        top: 10%;
        width: 100px;
        height: 80px;
    }
    .graffiti-7 {
        left: 5%;
        top: 20%;
        width: 120px;
        height: 140px;
    }
    .graffiti-8 {
        left:70%;
        top: 30%;
        width: 140px;
        height: 140px;
    }
    #hero .links-social{
        height: 150px;
    }
    #hero .links-social .boton-redes img{
        width: 80px;
    }
    #servers-discord{
        top: 70%;
    }
    #servers-discord li button img{
        width: 60px;
        height: 62px;
    }
}
/*Estilos de tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        height: 60px;
    }
    .navbar .logo{
        font-size: var(--font-size-logo-tablet);
    }
    #hero .img-logo{
        height: 300px;
    }
    .graffiti-1 {
        left: 10%;
        top: 5%;
        width: 150px;
        height: 150px;
    }
    .graffiti-2 {
        left: 20%;
        top: 40%;
        width: 250px;
        height: 150px;
    }
    
    .graffiti-3 {
        left: 80%;
        top: 3%;
        width: 140px;
        height: 140px;
    }
    
    .graffiti-4 {
        left: 60%;
        top: 50%;
        width: 150px;
        height: 70px;
    }
    
    .graffiti-5 {
        left: 10%;
        top: 45%;
        width: 60px;
        height: 80px;
    }
    
    .graffiti-6 {
        left: 60%;
        top: 10%;
        width: 100px;
        height: 80px;
    }
    
    .graffiti-7 {
        left: 5%;
        top: 20%;
        width: 120px;
        height: 140px;
    }
    .graffiti-8 {
        left:80%;
        top: 30%;
        width: 140px;
        height: 140px;
    }
    .pintura-3{
        top: 80%;
        left: 40%;
        width: 270px;
        height: 200px;
        background-image: url('./Imgs/PINTURA/9.webp');
    }
    .pintura-4{
        top: 70%;
        left: 2%;
        width: 230px;
        height: 250px;
        background-image: url('./Imgs/PINTURA/10.png');
    }
    .pintura-5{
        top: 55%;
        left: 30%;
        width: 200px;
        height: 200px;
        background-image: url('./Imgs/PINTURA/11.png');
    }
    #hero .links-social{
        height: 100px;
    }
    #hero .links-social .boton-redes img{
        width: 90px;
    }
    #servers-discord{
        top: 70%;
        left: 8%;
    }
    #servers-discord li button img{
        width: 80px;
        height: 82px;
    }
    #servers-discord li button p{
        font-size: 2rem;
    }
}
/*Estilos de Desktop*/
@media (min-width: 1025px) {
    .navbar {
        height: 60px;
    }
    .navbar .logo{
        font-size: var(--font-size-logo-tablet-desktop);
    }
    .navbar .help-icon:hover{
        cursor: pointer;
    }
    #hero .img-logo{
        height: 320px;
    }
    .graffiti-1 {
        left: 25%;
        top: 0%;
        width: 300px;
        height: 300px;
    }
    .graffiti-2 {
        left: 35%;
        top: 40%;
        width: 350px;
        height: 250px;
    }
    .graffiti-3 {
        left: 60%;
        top: 3%;
        width: 390px;
        height: 300px;
    }
    .graffiti-4 {
        left: 55%;
        top: 50%;
        width: 200px;
        height: 170px;
    }
    .graffiti-5 {
        left: 30%;
        top: 40%;
        width: 120px;
        height: 140px;
    }
    .graffiti-6 {
        left: 55%;
        top: 9%;
        width: 140px;
        height: 120px;
    }
    .graffiti-7 {
        left: 15%;
        top: 20%;
        width: 320px;
        height: 340px;
    }
    .graffiti-8 {
        left:60%;
        top: 30%;
        width: 230px;
        height: 240px;
    }
    .pintura-3{
        top: 80%;
        left: 40%;
        width: 450px;
        height: 300px;
        background-image: url('./Imgs/PINTURA/9.webp');
    }
    .pintura-4{
        top: 70%;
        left: 10%;
        width: 230px;
        height: 250px;
        background-image: url('./Imgs/PINTURA/10.png');
    }
    .pintura-5{
        top: 80%;
        left: 80%;
        width: 200px;
        height: 200px;
        background-image: url('./Imgs/PINTURA/11.png');
    }
    #hero .links-social{
        height: 300px;
    }
    #hero .links-social .boton-redes img{
        width: 90px;
    }
    #servers-discord{
        top: 75%;
        left: 10%;
    }
    #servers-discord li:first-child button{
        margin-bottom: 15px;
    }
    #servers-discord li button img{
        width: 85px;
        height: 87px;
    }
    #servers-discord li button p{
        font-size: 3rem;
    }
}